[Desktop Entry]
Name=Open door
Comment=Open the door via your SSH key.
TryExec=knock-knock
Exec=knock-knock
Icon=changes-allow
Terminal=false
Type=Application
X-Purism-FormFactor=Workstation;Mobile;
