[Desktop Entry]
Name=Knock Knock
Comment=Open the door via your SSH key.
TryExec=knock-knock
Exec=knock-knock
Icon=de.thejackimonster.KnockKnock
Terminal=false
Type=Application
X-Purism-FormFactor=Workstation;Mobile;
